<!-- Portfolio Modal 6 -->
<div class="portfolio-panel panel" id="portfolioPanel6">
    <div class="panel-content">
        <div class="close-panel" data-dismiss="panel">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="panel-body">
                    <!-- PRINTS Grid Section -->
                        <section id="portfolio" class="bg-light-gray">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h2 class="section-heading">PRINTS</h2>
                                        <h3 class="section-subheading text-muted">Please select a category of prints you'd like to view.</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 portfolio-item">
                                        <a ui-sref="printPage({category: 'people'})" class="portfolio-link">
                                            <div class="portfolio-hover">
                                                <div class="portfolio-hover-content">
                                                    <i class="fa fa-eye fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="https://i.imgur.com/DaBFNOe.png" class="img-responsive" alt="">
                                        </a>
                                        <div class="portfolio-caption">
                                            <h4>People</h4>
                                            <p class="text-muted">Family, Friends, & Favorite Icons</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 portfolio-item">
                                        <a ui-sref="printPage({category: 'pets'})" class="portfolio-link">
                                            <div class="portfolio-hover">
                                                <div class="portfolio-hover-content">
                                                    <i class="fa fa-eye fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="https://i.imgur.com/tCpNUyZ.jpg" class="img-responsive" alt="">
                                        </a>
                                        <div class="portfolio-caption">
                                            <h4>Animals</h4>
                                            <p class="text-muted">Pets & Favorite Animal Portraits</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 portfolio-item">
                                        <a ui-sref="printPage({category: 'landscape'})" class="portfolio-link">
                                            <div class="portfolio-hover">
                                                <div class="portfolio-hover-content">
                                                    <i class="fa fa-eye fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="https://i.imgur.com/ErbV6f4.jpg" class="img-responsive" alt="">
                                        </a>
                                        <div class="portfolio-caption">
                                            <h4>Landscapes</h4>
                                            <p class="text-muted">Cityscape, Beach, Architecture</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 portfolio-item">
                                        <a ui-sref="printPage({category: 'objects'})" class="portfolio-link">
                                            <div class="portfolio-hover">
                                                <div class="portfolio-hover-content">
                                                    <i class="fa fa-eye fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="https://i.imgur.com/h12EWxS.jpg" class="img-responsive" alt="">
                                        </a>
                                        <div class="portfolio-caption">
                                            <h4>What the Hell is that?</h4>
                                            <p class="text-muted">Cars, Instruments, Abstract Misc.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="text-align: center">
                                        <h4><a href="http://www.shadedhues.com/portfolio/" target="_blank">View the entire ShadedHues portfolio here.</a></h3>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
